# gazebo:
#   - '11'
# libpqxx:
#   - 7
numpy:
  - 1.26
# ogre:
#   - 14.2.*
libprotobuf:
  - 5.27.5
protobuf:
  - 5.27.5

cdt_name:
  - ${{ "cos7" if linux }}

python:
  - 3.11.* *_cpython
python_impl:
  - cpython

c_stdlib:
  - ${{ "sysroot" if linux }}
  - ${{ "macosx_deployment_target" if osx }}
  - ${{ "vs" if win }}
c_stdlib_version:
  - ${{ "2.17" if linux }}
  - ${{ "10.14" if osx and x86_64 }}
  - ${{ "11.0" if osx and arm64 }}


# # Project overrides
# macos_min_version:             # [osx and x86_64]
#   - 10.14                      # [osx and x86_64]
# macos_machine:                 # [osx]
#   - x86_64-apple-darwin13.4.0  # [osx and x86_64]
#   - arm64-apple-darwin20.0.0   # [osx and arm64]
# MACOSX_DEPLOYMENT_TARGET:      # [osx]
#   - 11.0                       # [osx and arm64]
#   - 10.14                      # [osx and x86_64]
# CONDA_BUILD_SYSROOT:
#   - /Applications/Xcode.app/Contents/Developer/Platforms/MacOSX.platform/Developer/SDKs/MacOSX.sdk  # [osx and arm64]
