numpy:
  - 1.26
libprotobuf:
  - 5.29.3
protobuf:
  - 5.29.3
spdlog:
  - 1.15
pugixml:
  - '1.15'
libopencv:
  - 4.11.0
libxml2:
  - 2.13.*
graphviz:
  - 13.*

tbb:
  - '2021'
tbb_devel:
  - '2021'

# Workaround for https://github.com/RoboStack/ros-jazzy/pull/40#issuecomment-2782226697
cmake:
  - 3.*

cdt_name:  # [linux]
  - conda  # [linux]

python:
  - 3.12.* *_cpython
python_impl:
  - cpython

c_compiler:
  - gcc                        # [linux]
  - clang                      # [osx]
  - vs2022                     # [win]
c_compiler_version:            # [unix]
  - 14                         # [linux]
  - 19                         # [osx]
c_stdlib:
  - sysroot                    # [linux]
  - macosx_deployment_target   # [osx]
  - vs                         # [win]
c_stdlib_version:              # [unix]
  - 2.17                       # [linux]
  - 10.13                      # [osx and x86_64]
  - 11.0                       # [osx and arm64]
cxx_compiler:
  - gxx                        # [linux]
  - clangxx                    # [osx]
  - vs2022                     # [win]
cxx_compiler_version:          # [unix]
  - 14                         # [linux]
  - 19                         # [osx]

libzenohc:
  - 1.4.0
libzenohcxx:
  - 1.4.0
libcap:
  - 2.71

libhwloc:
  - 2.11.2

