[project]
name = "ros-jazzy"
version = "0.1.0"
description = "Add a short description here"
authors = ["Tim de Jager <tim@prefix.dev>"]
channels = ["conda-forge"]
platforms = ["osx-arm64", "linux-64", "osx-64", "linux-aarch64", "win-64"]

[system-requirements]
# 2.17 is the glibc version used in centos 7
libc = { family="glibc", version="2.17" }

[tasks]
upload = "anaconda -t $ANACONDA_API_TOKEN upload"

[dependencies]
python = ">=3.11.0,<3.12"
rattler-build = ">=0.18.0,<0.19"
anaconda-client = ">=1.12"

[feature.beta.pypi-dependencies]
vinca = { git ="https://github.com/RoboStack/vinca.git", rev = "rattler-build" }

[feature.beta.tasks]
rename-file = { cmd ="cp vinca_osx_arm64.yaml vinca.yaml" }
generate-recipes = { cmd = "vinca -m", depends_on = ["rename-file"] }
remove-file = { cmd = "rm vinca.yaml", depends_on = ["generate-recipes"] }
build = { cmd = "rattler-build build --recipe-dir ./recipes -m ./conda_build_config.yaml --skip-existing", depends_on = ["remove-file"] }

[environments]
beta = ["beta"]
